# Ignore build outputs
target/
build/

# Ignore Angular build/cache
.angular/
dist/
node_modules/

# Ignore IDE/project settings
.idea/
.vscode/
*.iml

# Ignore video and large media files
*.mp4
*.avi
*.mov
*.mkv

# Ignore OS-specific files
.DS_Store
Thumbs.db
